* {
    margin: 0;
    padding: 0;
}
*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #efefef;
    padding: 60px 0;
}

a {
    text-decoration: none;
}

.mt-5 {
    margin-top: 15px;
}

textarea {
    width: 100%;
    border: 0;
    font-size: 15px;
    outline: none;
    padding: 10px;
    overflow:hidden;
    resize: none;
}

.description {
    padding: 10px 5px;
    text-align: center;
}


.navbar {
    width: 100%;
    height: 45px;
    background-color: #3b5998;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    z-index: 5;
}
.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.user-actions {
    display: flex;
    align-items: center;
}
.user-img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
}
.user-link {
    font-size: 13px;
    font-weight: bold;
    height: 25px;
    padding: 5px 15px;
    display: flex;
    align-items: center;  
    color: #fff;
}

.user-link:hover {
    background-color: rgba(0,0,0,.2);
}

.dropdown {
    display: none;
    width: 150px;
    padding: 10px;
    background-color: #fff; 
    position: absolute;
    box-shadow: 1px 1px 10px rgba(0,0,0,.2);
}
.dropdown-item {
    color: #000;
    font-size: 14px;
    padding: 5px;
    display: block;
}
.dropdown-item:hover {
    cursor: pointer;
    text-decoration: underline;
}

.arrow {
    width: 15px;
}
.container {
    width: 1200px;
    margin: 0 auto;
}

.card {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    flex-wrap: wrap;
}

.card-header {
    width: 100%;
    min-height: 50px;
    padding: 10px;
}
.card-headline {
    font-size: 14px;
    font-weight: bold;
}
.card-body {
    padding: 10px;
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
}
.card-media {
    width: 100%;
}
.card-media img {
    max-width: 100%;
}
.card-footer {
    width: 100%;
    align-self: flex-end;
    padding: 10px;
}

.input-file {
    width: 115px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background-color: #efefef;
    padding: 5px 10px;
    border-radius: 20px;
}

.card-post {
    margin-top: 15px;
}
.card-post .card-header {
    display: flex;
    align-items: center;
}
.post-link {
    font-size: 14px;
    font-weight: bold;
    color: #3b5998;
    margin-left: 10px;
}
.card-post .card-footer {
    display: flex;
    justify-content: center;
}
.post-footer-item {
    width: 50%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
.post-footer-item:hover {
    background-color: #efefef;
}
.post-footer-icon {
    width: 16px;
    margin-right: 5px;
}

.card-comments {
    display: flex;
    padding: 10px;
    flex-direction: column;
}
.card-comment {
    display: flex;
    margin-bottom: 15px;
}
.card-user {
    margin-right: 10px;
}
.card-comment-body {
    background-color: #efefef;
    border-radius: 15px;
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
}


.input-file .label {
   display: flex;
   align-items: center; 
}
.input-file .label-text {
    font-size: 13px;
    margin-left: 8px;
}
.input-file .label-icon {
    width: 24px;
}
.input-file input {
    cursor: pointer;
    display: block;
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.post {
    display: flex;
    min-height: 80px;
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
}

.avatar-md {
    width: 30px;
    height: 30px;
}

.avatar-sm {
    width: 20px;
    height: 20px;
}

.card-profile-cover {
    width: 100%;
    height: 300px;
    background-size: 100%;
}

.search-field {
    width: 500px;
    height: 25px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 3px;
}
.search-input {
    width: 100%;
    background-color: #fff;
    border: 0;
    outline: none;
}
.search-icon {
    width: 12px;
}

.col-img,
.col-icon {
    width: 20px;
    margin-right: 5px;
}
.col-settings {
    display: flex;
    flex-direction: column;
}
.col-item {
    padding: 5px;
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #000;
}

.card-post-comnent {
    display: flex;
    padding: 10px;
}
.card-post-comnent .avatar {
    margin-top: 10px;
}


.card-profile {
    width: 150px;
    height: 150px;
    display: flex;
    position: relative;
    margin-top: -130px;
    margin-left: 15px;
}
.card-profile-img {
    width: 150px;
    border-radius: 50%;
    border: 4px solid #fff;
}
.card-profile-overlay {
    width: 100%;
    height: 150px;
    background-color: rgba(0,0,0,.5);
    z-index: 1;
    position: absolute;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center; 
}

.card-profile-overlay input {
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}
.card-profile:hover .card-profile-overlay {
    display: flex;
}

.card-profile-nav {
    margin-left: 250px;
    height: 40px;
    margin-top: -25px;
    display: flex;
}
.profile-nav.first {
    border-left: 1px solid #ccc;
}
.profile-nav {
    border-right: 1px solid #ccc;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}
.profile-nav:hover {
    background-color: #efefef;
}
.icon-sm {
    width: 16px;
}

.task {
    margin-top: 10px;
    list-style: none;
    display: flex;
    width: 100%;
    height: 20px;
    flex-wrap: nowrap;
}
.task-item {
    margin-left: 5px;
}

.card-photos {
    display: flex;
    flex-wrap: wrap;
}
.card-photos img {
    width: 50%;
    height: 50%;
}
